*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    height: 100%;
    width: 100%;
}

.front-text {
    text-align: center;
    color: #e94d58;
    margin: 15px 0;
}

.front-text h1 {
    font-size: 2em;
}

.front-text h2 {
    font-size: 1.5em;
}


p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}